<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="coupons">Coupon System</a>
  
  <div  class="navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li *ngIf="mysessionStorage.getItem('userType')!='COMPANY'" class="nav-item active">
          <a class="nav-link" routerLink="coupons" name="Buy">Buy </a>
        </li>
        <li *ngIf="mysessionStorage.getItem('userType')!='COMPANY'&&mysessionStorage.getItem('customerId')!==null" class="nav-item active">
          <a class="nav-link" routerLink="customer-coupons" name="My Coupons">Customer Coupons</a>
        </li>
        <li *ngIf="mysessionStorage.getItem('userType')!='CUSTOMER'&&mysessionStorage.getItem('companyId')!==null" class="nav-item active">
          <a class="nav-link" routerLink="company-coupons" name="My Coupons">Company Coupons</a>
        </li>
        <li *ngIf="mysessionStorage.getItem('userType')!='COMPANY' || !mysessionStorage.getItem('isLogin')" class="nav-item active">
          <a class="nav-link" routerLink="cart" name="cart">Cart</a>
        </li>
      </ul>
      
      <div *ngIf="!mysessionStorage.getItem('isLogin')" class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-success my-2 my-sm-0" routerLink="login">login</a>
      </div>
      <div *ngIf="mysessionStorage.getItem('isLogin')" class="form-inline my-2 my-lg-0">
        <app-user-menue></app-user-menue>
      </div>
    </div>
    
  </nav>
