<div class="container">
  <br>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="  " id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" (click) ="filter('All')" style="cursor: pointer">All<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click) ="filter('RESTAURANTS')">RESTAURANTS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click) ="filter('ELECTRICITY')">ELECTRICITY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click) ="filter('FOOD')">FOOD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click) ="filter('HEALTH')">HEALTH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click) ="filter('SPORTS')">SPORTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link poin" style="cursor: pointer" (click) ="filter('CAMPING')">CAMPING</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" style="cursor: pointer" (click) ="filter('TRAVELLING')">TRAVELLING</a>
        </li>
      </ul>
      <!-- 0<input type="range" min="0" max="2000" value="0" [(ngModel)]="priceRange">2000 -->
      <!-- <input  #theOldPassword="ngModel" [(ngModel)]="oldPassword" name="oldPassword"></td> -->
      <form class="form-inline my-2 my-lg-0" (ngSubmit)="searchKeyWord()">
        <input class="form-control mr-sm-2"  [(ngModel)]="keyWord" name="keyWord" type="search" placeholder="Enter Keyword" aria-label="Search">
        <button  [disabled]="keyWord==''" class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Filter
          <!-- <ng-container *ngIf="keyWord==' '">Clear</ng-container> -->
          <!-- <ng-container *ngIf="keyWord!=' '">Filter</ng-container> -->
        </button>

        <button *ngIf="coupons.length != savedCoupons.length" class="btn btn-outline-success my-2 my-sm-0" 
                  type="button" (click)="clearFilter()">
            Clear
            <!-- <ng-container *ngIf="keyWord==' '">Clear</ng-container> -->
            <!-- <ng-container *ngIf="keyWord!=' '">Filter</ng-container> -->
          </button>

      </form>
    </div>
  </nav>
  <br>
  <div>
    <app-coupons [coupons]=coupons></app-coupons>
  </div>
</div>


