<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Hello {{myStorage.getItem("userName")}}</button>
      <div ngbDropdownMenu class="dropdown-menu"  aria-labelledby="dropdownBasic1">
        <a class="dropdown-item" routerLink="dashboard">Dashboard</a>
        <a class="dropdown-item" style="cursor: pointer" (click) = "loginService.logout()">Logout</a>
      </div>
    </div>
  </div>
</div>
 